<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Android Developers Salary Survey Results - Android Study Group</title>
    <meta name="description" content="The results of our salary survey.">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Android Developers Salary Survey Results</h3>
      </div>

      {{ content }}

      <footer class="footer">
        <p><a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> &middot; <a href="https://github.com/AndroidStudyGroup/salaries/">GitHub</a></p>
      </footer>
    </div>
  </body>
</html>
